/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 25px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eeeded;
}

.mat-button-toggle {
  color: black !important;
}

.mat-button-toggle-checked {
  color: white !important;
}

.mdc-tab__text-label {
  color: black !important;
}

